{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Buy and Sell Items Online
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Search</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Search (Electronics, Gadgets, books)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
                    <option value="AP">Andhra Pradesh</option>
                    <option value="AR">Arunachal Pradesh</option>
                    <option value="AS">Assam</option>
                    <option value="BR">Bihar</option>
                    <option value="CG">Chhattisgarh</option>
                    <option value="GA">Goa</option>
                    <option value="GJ">Gujarat</option>
                    <option value="HP">Haryana</option>
                    <option value="JH">Jharkhand</option>
                    <option value="KA">Karnataka</option>
                    <option value="GA">Kerala</option>
                    <option value="KL">Hawaii</option>
                    <option value="MP">Madhya Pradesh</option>
                    <option value="MH">Maharashtra</option>
                    <option value="MN">Manipur</option>
                    <option value="ML">Meghalaya</option>
                    <option value="MZ">Mizoram</option>
                    <option value="NL">Nagaland</option>
                    <option value="LA">Odisha</option>
                    <option value="OD">Maine</option>
                    <option value="PB">Punjab</option>
                    <option value="RJ">Rajasthan</option>
                    <option value="MI">Sikkim</option>
                    <option value="TN">Tamil Nadu</option>
                    <option value="TS">Telegana</option>
                    <option value="TR">Tripura</option>
                    <option value="UP">Uttar Pradesh</option>
                    <option value="UK">Uttarakhand</option>
                    <option value="WB">West Bengal</option>
                    </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Category</label>
                  <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Category (All)</option>
                    <option value="1">Electronics</option>
                    <option value="2">Books</option>
                    <option value="3">Houses</option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    <option value="100000">₹1,000</option>
                    <option value="200000">₹2,000</option>
                    <option value="300000">₹5,000</option>
                    <option value="400000">₹10,000</option>
                    <option value="500000">₹20,000</option>
                    <option value="600000">₹50,000</option>
                    <option value="700000">₹100,000</option>
                    <option value="800000">₹200,000</option>
                    <option value="900000">₹500,000</option>
                    <option value="1000000">₹1M+</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}